.alert{
  .close{
    color: inherit;
  }
  &.popup-alert{
    position: fixed;
    right: 5%;
    left: 5%;
    top: calc(#{$nav-height} - 10px);
    z-index: $modal-z-index+1;
    opacity: 0.95;
    @include animate(fadeInDown,1s);
    &.hide{
      display: none;
      
    }
    &.hiding{
      @include animate(fadeOutUp,1s);
    }
  }
  .field-error span{
    color: inherit!important;
    display: inline-block;
  }
}

//----------------------------------------
@mixin tooltipStyle( $bg-color,$font-color){
  position: relative;
  .tooltip-alert {
    background-color: $bg-color;
    color: $font-color;
    text-align: center;
    padding: 1px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 80%;
    left: 0;
    top: -7px;
    &::after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $bg-color transparent transparent transparent;
    }
  }
}
.tooltip-container {
  $bg-color:#eee;
  $font-color:#999;  
  @include tooltipStyle( $bg-color,$font-color);
}
