$line-height: 200%;
$line-height-h: 140%;
$article-small-size:$container-sm;
%text-article {
  ul {
    margin-bottom: 1em;
  }

  .link {
    background: #eaeaea;
    border-radius: $border-radius-base;
    padding: $padding-small;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: calc(1em * (1.8 - (#{$i} * 0.1)));
      font-family: $font-family-base !important;
      margin: calc(#{$margin-default} * (1.5 - (#{$i} * 0.1))) 0 calc(#{$margin-default} * (1 - (#{$i} * 0.1)));
      font-weight: normal;
      *{
        font-size: inherit !important;
      }
    }
  }

  * {
    font-family: $font-family-base !important;
  }
}

.article-select-content {
  @extend %text-article;
  min-height: 400px;
  @include card-content;
  direction: rtl;
  padding: 30px 100px;
  margin-bottom: 30px;
  line-height: $line-height;


  strong {
    font-weight: normal;
    font-family: $font-family-bold-iran-sans;
  }

  button {
    padding: 6px;
    border: 1px solid $border-base-color;
    margin: 20px auto;

    &:focus {
      outline-style: none;
    }
  }

  video {
    margin: 20px auto;
  }

  .article-selected-title {
    padding: 20px 0;
    @media only screen and(max-width: $article-small-size){
      padding: 10px 0;
    }
    h3 {
      margin:  0;
      line-height: $line-height-h;
    }

    .article-social-act {
      .vertical-line {
        height: 22px;
      }

      label {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          color: $gray-light;
          font-size: $font-size-x-small;
          margin-left: 8px;
        }

        img {
          width: 22px;
        }
      }
    }
  }

  .article-post-info {
    margin-top: 25px;
    @media only screen and(max-width: $article-small-size){
      margin-top: 0px;
    }
    .article-timer {

      span {
        color: #838383;
        font-size: $font-size-small;
        font-family: $font-family-bold-iran-sans !important;
      }

      img {
        width: 18px;
        vertical-align: middle;
        margin-right: 3px;
      }
    }

    .article-date {
      position: relative;
      font-size: 13px;
      padding: 0;
      @include date-icone();
      
    }
  }

  .article-img-title {
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 25px;
    border-radius: $border-radius-base;

    &.not-show {
      display: none;
    }
  }
  .article-detail-section {
    margin-top: 25px;

    p {
      font-size: $font-size-base;
      font-family: $font-family-iran-sans !important;
      line-height: $article-line-height;

      span {
        font-size: $font-size-base;
        font-family: $font-family-iran-sans !important;
      }
    }

    a {
      padding: 0 10px;
      @extend .link;
    }

    img {
      margin: auto;
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: $border-radius-base;
    }

    li {
      list-style-type: circle;
      list-style: inside;
    }

    button.accordion {
      width: 100%;
      margin: $padding-small 0;
    }

    $htags: $font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4, $font-size-h5, $font-size-h6;

    @for $i from 1 through length($htags) {
      h#{$i} {
        display: inline-block;
      }
    }
  }

  @media only screen and(max-width: $container-desktop) {
    padding: 30px 35px;

    .article-detail-section {


      img {
        width: 100% !important;
      }
    }
  }
  @media only screen and(max-width: $article-small-size) {
    padding: 0 10px;
  }


}
