.article-category-page {
  @extend %text-article;
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: $border-radius-default;
  padding: 35px 80px;
  box-shadow: $card-box-shadow;

  text-align: justify;

  .article-category-title {
    margin-bottom: 35px;
    text-align: center;
    position: relative;

    span {
      background-color: #fff;
      padding: 0 50px;
      position: relative;
    }
    h2{
      position: relative;
      z-index: 1;
      margin: 10px;
      background-color: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $gray-lighten;
      width: 100%;
      top: calc(50% - 1px);
    }
  }

  .content-text {
    overflow: hidden;
    height: 100px;
    line-height: 25px;
    margin: 20px;
    position: relative;
    
  }

  button {
    &.btn {
      margin: auto;
      width: 100px;
      position: relative;

      &:before {
        content: 'نمایش بیشتر';
        position: absolute;
        top: 5px;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &.open-content {
    .content-text {
      overflow: auto;
      height: auto;
    }

    button {
      &.btn {
        &:before {
          content: 'بستن';
        }
      }
    }
  }

  @media only screen and(max-width: $container-large-mobile) {
    padding: 35px 15px;

  }

}

.table-of-content {
  $color: $banner-bg;
  background: rgba($color, 0.03);
  border: 1px solid rgba($color, 0.05);
  margin: 10px 0 30px;
  border-radius: $border-radius-base;
  padding: 10px;
  @media only screen and(max-width: $container-sm) {
    padding: 10px 0px;
    & > li {
      margin-right: 0px !important;
      border-right-width: 0 !important;
    }
  }

  li {
    //&:not(:first-child){
    margin-right: 30px;
    padding: 10px 5px;
    border-right: 3px solid rgba($color, 0.2);
    @media only screen and(max-width: $container-sm) {

      margin-right: 15px;
    }
    //}

    &::marker {
      font-size: 0;
    }

    a {
      background: rgba(0, 0, 0, 0) !important;
      color: getColorlightness($color, 20%) !important;

      &:hover {

      }

      // border-right: 3px solid #333;
    }
  }
}
