.full-page-container {
    background-color: $default-bg;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: $header-main-h;
    z-index: $z-full-page;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: $header-sub-h;
        padding: 0 $padding-default;
        border-bottom: $panel-box-border;
        .titel {
            flex-grow: 1;
            text-align: center;
            font-size: $sub-title-font-size;
            padding-right: $header-btn-size;
        }
    }
    .body {
        margin-bottom: $full-page-footer-h;
        overflow-x: hidden;
        overflow-y: scroll;
        @include scroll(5px, $gray, $gray);
        position: relative;
    }
    .footer {
        height: $full-page-footer-h;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        .btn {
            flex-grow: 1;
            margin: 0 8px;
            height: $full-page-footer-btn-h;
            font-size: $font-size-default;
        }
    }
}
