.check-list {
  $small-width: 50px;
  li {
    color: $text-color;
    width: 100%;
    &:not(:last-child) {
      border-bottom: $list-border;
    }
    &:hover {
      background: $list-hover-bg;
    }
    @mixin colorBg($color) {
      background: getColorlightness($color, 98%);
      &:hover {
        background: getColorlightness($color, 93%);
      }
    }
    &.accepted {
      @include colorBg($color-success);
    }
    &.failed {
      @include colorBg($attention);
    }
    @include check(30px);
    @include uncheck();
    @extend %flex-stretch-space-between;

    .number-row {
      border-left: $list-border;
      padding: $padding-small;
      width: $small-width;
      text-align: center;
    }
    .text {
      flex-grow: 2;
      padding: $padding-small $padding-default;
    }
    .check {
      @extend %container-center;
      border-right: $list-border;
      width: $small-width;
      align-self: center;
    }
  }
}
ul.list {
  li {
    line-height: 150%;
    margin-bottom: 10px;
    direction: rtl;
  }
}
ul.boarder-list {
  li {
    padding: $list-padding;
    &:not(:last-child){
      border-bottom: $list-border;
    }
   
    &.hover {
      cursor: pointer;
      @include transition(background-color 1s ease-out);
      &:hover {
        background: $list-hover-bg;
      }
    }
    &.import-item{
      border-bottom: $list-import-border;
    }
  }
}
