%loadingBase {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.dual-ring-base {
  @include dual-ring(80px, $loading-color, 6px);
}

.Loading-Segmented {
  $loading-color: rgba($brand-intense-info, 0.8);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: getColorlightness($loading-color, 95);
  border: 1px getColorlightness($loading-color, 93) solid;
  padding: $padding-default;
  color: $loading-color;

  .loading {
    @include dual-ring(20px, $loading-color, 2px);
  }
}

.loading-full-cover-container {
  @extend %loadingBase;
  top: 0;
  background: #333;
  background-size: 30% auto;
  z-index: calc(#{$z-index-navbar} + 1);
}
