.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 0 40px;
  text-align: center;
  @include animate(fadeIn, 0.5s);
  z-index: calc(#{$z-index-navbar} - 1);
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  //--------------------------------------------

  .loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;

    > div {
      height: 100%;
      width: 8px;
      display: inline-block;
      float: left;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }

    .bar1 {
      background-color: $attention;
    }
    .bar2 {
      background-color: darken($attention, 5%);
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .bar3 {
      background-color: darken($attention, 10%);
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .bar4 {
      background-color: darken($attention, 15%);
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .bar5 {
      background-color: darken($attention, 20%);
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .bar6 {
      background-color: darken($attention, 25%);
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  .loader-color {
    color: darken($attention, 25%);
  }

  @-webkit-keyframes delay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.05);
    }
    20% {
      -webkit-transform: scaleY(1);
    }
  }

  @keyframes delay {
    0%,
    40%,
    100% {
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }

  //--------------------------------------------

  span {
    @include animate(fadeIn, 1s);
    display: inline-block;
    margin-top: 10px;
    color: $brand-success;
  }

  & > * {
    vertical-align: middle;
  }
}
