.modal {
  .modal-shadow {
    position: fixed;
    @include position(0, 0, 0, 0);
  }
  .modal-dialog {
    .modal-content {
      .modal-header {
        justify-content: space-between;
        border-color: $modal-content-border-color;

        .modal-title {
          .img {
            margin: -1rem -1rem -1rem;
            padding: 1rem;
          }
          .title-default {
            opacity: 0.8;
            font-size: 90%;
          }
        }

        .close {
          padding: 1rem;
          margin: -1rem auto -1rem -1rem;
        }
      }

      .modal-body {
      }

      .modal-footer {
        justify-content: space-between;
        background: $modal-footer-bg;
        border-color: $modal-content-border-color;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    }
  }
  &.dark-modal {
    background: rgba(0, 0, 0, 0.6);
    .modal-content {
      background: rgba(0, 0, 0, 0);
      border-radius: 0;
      border: 0;
    }
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    z-index: $modal-z-index;
    background-color: $modal-bg-cover !important;
    .ReactModal__Content {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 500ms ease-in-out;
      .modal-header{
        border-bottom: 0;
        .modal-title{
          font-size: 115%;
          color:#000;
        }
      }
      .modal-footer{
       border-top: 0;
      }
      .scroll-content{
        position: relative;
        max-height: calc(90vh - 300px);
        height: calc(90vh - 300px);
        overflow-y: scroll;
        overflow-x: hidden;
        @include scroll(3px, $gray-lighten, $brand-intense-info);
      }
      
    }
  }
  .ReactModal__Overlay--after-open {
    .ReactModal__Content {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .ReactModal__Overlay--before-close {
    .ReactModal__Content {
      opacity: 0;
      transform: translateX(-100px);
    }
  }
  .ReactModal__Content {
    padding: 0 !important;
    box-shadow: $shadow-dark;
    .modal-header {
      .close {
        margin-left: -15px !important;
      }
    }
    .modal-footer {
      justify-content: space-between;
    }
  }
}

body {
  #root {
    transition: 0.5s filter linear;
  }
  &.ReactModal__Body--open {
    #root {
      & >:not(.Toastify){
        filter: blur(4px);
      }
      
    }
  }
}

.modal-att{

  .modal-att-img{
    max-width: 120px;
    opacity: 0.3;
    
    }
  }
  .modal-att-footer{
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0;
    overflow: hidden;

    button{
      margin:0;
      border-radius: 0;
      flex-grow: 1;
      justify-content: space-evenly;
      height: 40px;
    }
  }
