.pagination {
  justify-content: center;
  margin: 30px 0;

  .page-item {

    .page-link {
      color: #3a6d97;
      background-color: $body-bg;
      border: none;
      font-size: $font-size-small;

      &:focus {
        box-shadow: none;
      }

      &.disabled {
        opacity: .4;
        pointer-events: none;
      }

      &.previous {
        &::before {
          content: '\00ab ';
        }
      }

      &.next {
        &::after {
          content: ' \00bb';
        }
      }
    }
  }
}


.pagination-border {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  
  .page-item {
    display: list-item;

    .page-link {
      color: #6c757d;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 0;

      &:not(:disabled), &:not(.disabled) {
        cursor: pointer;

        &:hover {
          color: #0056b3;
          text-decoration: none;
          background-color: #e9ecef;
          border-color: #dee2e6;
        }
      }

    }
    &.active{
      .page-link {
        z-index: $z-index-base;
        color: #fff;
        background-color: $brand-info;
        border-color: $brand-info;
      }
    } 
    &:first-child {
      .page-link {
        margin-left: -1px;
        border-top-right-radius: $border-radius-large;
        border-bottom-right-radius: $border-radius-large;
      }
    }

    &:last-child {
      .page-link {
        
        border-top-left-radius: $border-radius-large;
        border-bottom-left-radius: $border-radius-large;
      }
    }

  }
}
