$popular-article-img-size: 60px;

.popular-article {
    border: 1px solid $article-border-color;
    border-radius: $article-radius;
    background-color: #fff;
    padding: $padding-default;
    box-shadow: $article-shadow;

    .popular-article-title {
        @include title-small-line($brand-success);
        margin-bottom: 40px;
    }

    .article-item {
        border: none;
        height: auto !important;
        padding: 20px 0;
        box-shadow: none !important;
        border-bottom: 1px dashed $border-base-color;
        border-radius: 0;

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }

        .article-date {
            font-size: $font-size-small;
            position: relative;
            padding-right: 0px;
            @include date-icone();
        }


        .article-img-box {
            align-self: center;
            width: $popular-article-img-size;
            height: $popular-article-img-size;
            position: relative;

            img {
                width: $popular-article-img-size;
                border-radius: 50%;
                height: $popular-article-img-size;
            }

            &::before {
                content: '';
                position: absolute;
                width: calc(#{$popular-article-img-size} + 8px);
                height: calc(#{$popular-article-img-size} + 8px);
                border: 1px solid darken($border-base-color, 10%);
                top: -4px;
                right: -4px;
                border-radius: 50%;
            }
        }

        .article-detail {
           // padding-right: 20px;
            flex-grow: 1;
            direction: rtl;

            a {
                display: block;
                font-size: 11px;
              //  margin-right: -($margin-default);
            }
            .article-date{
                margin-top: 10px;
            }
        }
    }

    @media only screen and(max-width: $container-tablet) {
        height: 285px;
        overflow-y: auto;
    }
}
