.product-wrapper {
    height: 100%;
    margin: 0 -16px;
    .product-container {
        background: $panel-box-bg;
        border: $panel-box-border;
        border-bottom: 0px;
        // margin: -1px;
        padding: 15px;
        width: 100%;
        height: 100%;

        .img-container {
            text-align: center;
            img {
                width: auto;
                height: 100px;
                cursor: pointer;
            }
        }
        .line {
            $h: 40px;
            height: $h;
            line-height: $h * 0.5;
        }
    }
}
