$product-card-height: 150px;
$product-card-img-size: 120px;

.summary-list-default {
  font-size: $font-size-small;
  color: $gray-text;
}

.product-list {
  direction: rtl;
  padding: 0 15px;
  @include media-max($container-large-tablet) {
    padding: 0 10px;

  }

  .product-card-item {
    .card {
      @include panel-box();
      color: $gray;
      padding: 0;
      @extend .summary-list-default;
      border-width: 0;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-color-hover;
      }

      .product-card-item-row {
        // background: rgba(9, 255, 153, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .product-item-info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          padding: 5px $padding-default;

          .product-title-part {
            height: 55px;

            .product-title-card {
              margin-top: 5px;
              font-size: 13px;
              font-family: $font-family-iran-sans;
              color: $text-color-dark;
              @include ellipsis-text(2);
            }
          }

          .product-owner {
            color: $gray;

            .hide-more {
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              width: 100%;
              overflow: hidden;

            }

            span {
              color: $text-color-dark;
            }

            label {
              margin-top: 5px;
              display: block;
              font-size: $font-size-x-small;
            }
          }

          .product-owner-tel {
            text-align: left;

            .none-info {
              color: darken($brand-error, 20%);
              font-family: IRANSansBold;
            }

            .sale {
              position: absolute;
              right: 0;
              padding: 1px 8px;
              color: #fff;
              top: 0px;
              background: darken($brand-error, 20%);
              width: 113px;
              text-align: center;
            }
          }
        }
      }

    }
  }

  //@media only screen and(max-width: $container-large-desktop) {
  //  $product-card-height: 155px !global;
  //
  //  .product-card-item {
  //    .card {
  //      .product-img {
  //        height: $product-card-height;
  //        width: 100%;
  //
  //        &.product-item-picture {
  //          height: $product-card-height;
  //          width: 100%;
  //        }
  //
  //        &.product-item-picture-default {
  //          background-size: 35% !important;
  //          border-bottom: 1px solid $card-border-color;
  //        }
  //      }
  //
  //      .product-item-info {
  //        height: $product-card-height;
  //        width: 100%;
  //
  //        .product-title-part {
  //          height: auto;
  //        }
  //
  //        .product-owner-tel {
  //          .sale {
  //            top: 4px;
  //            right: 4px;
  //            border-radius: 8px;
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
  //
  //@media only screen and(max-width: $container-large-mobile) {
  //  .product-card-item {
  //    .card {
  //      .product-img {
  //        width: $product-card-img-size;
  //        height: $product-card-height;
  //
  //        &.product-item-picture {
  //          height: $product-card-height;
  //          width: $product-card-img-size;
  //        }
  //
  //        &.product-item-picture-default {
  //          background-size: 75% !important;
  //          border-bottom: none;
  //        }
  //      }
  //
  //      .product-item-info {
  //        height: $product-card-height;
  //        width: calc(100% - #{$product-card-img-size});
  //
  //        .product-title-part {
  //          height: 55px;
  //        }
  //
  //        .product-owner-tel {
  //          .sale {
  //            width: 113px;
  //            top: 0;
  //            border-radius: 0;
  //            right: 0
  //          }
  //        }
  //      }
  //    }
  //  }
  //}

}

.summary-no-card-list { //---------sample--in--Title-Detail-----------------
  &.vertical-list {
    .product-card-item {
      .card {
        margin: 0 $padding-small 5px;
        @extend .summary-list-default;
        border-radius: 0;
        border-top-width-width: 0;
        border-image-slice: 1;
        border-width: 2px 0 0 0;
        border-image-source: linear-gradient(to left, #e4e4e400, #00000017, #e4e4e400);
        $ImgSize: 67px;
        $height-title: 50px;

        & > .row {
          //display: flex;
          //flex-direction: row-reverse;
          //flex-wrap: nowrap;
          //justify-content: space-between;
          //align-items: center;
          position: relative;
        }

        .product-img {
          width: 120px;
          height: 150px;
          position: absolute;
          top: $height-title;
          left: 0;

          background-repeat: no-repeat !important;
          background-position: center center !important;
          background-size: 80% auto !important;

          &.product-item-picture, &.product-item-picture-default {
            background-size: cover !important;
            background-position: center !important;
            object-fit: cover;
            width: $ImgSize;
            height: $ImgSize;
            border-radius: 50%;
            border: 1px solid $input-border-color;
            align-self: center;
            padding: 4px !important;
          }
        }

        .product-item-info {
          float: right;
          box-sizing: border-box;
          padding: 3px $padding-small 3px 3px;

          .product-title-part {
            height: $height-title;

            .product-title-card {
              margin: $padding-small 0;
              font-size: 13px;
              @include ellipsis-text(2);
            }
          }

          .product-owner {
            padding-left: $ImgSize;

            a {
              color: #838383;

              span {
                color: $text-color;
              }
            }

            label {
              margin-top: 5px;
              display: block;
              font-size: $font-size-x-small;
            }
          }

          .product-owner-tel {
            text-align: right;

            .none-info {
              color: $brand-error;
              font-family: IRANSansBold;
              opacity: 0.7;
            }

            .sale {
              position: absolute;
              right: 0;
              padding: 1px 8px;
              color: #fff;
              top: 0px;
              background: $brand-error;
              width: 113px;
              text-align: center;
            }
          }
        }
      }
    }

    .row {
      & > div:first-child {
        .card {
          border-image-source: linear-gradient(to left, #e4e4e400, #e4e4e400, #e4e4e400);
        }
      }
    }
  }
}