$radio-group-bg: darken($brand-intense-info, 10%);
$radio-group-fg: lighten($radio-group-bg,20%);
$radio-group-borderWidth: 2px;
$radio-group-border-radius:$border-radius-xlarge;
$radio-group-border: solid $radio-group-borderWidth $radio-group-fg;
$radio-group-lbl-radius:($radio-group-border-radius - $radio-group-borderWidth);
.radio-group{
  border: $radio-group-border;
  display: inline-block;
  margin: 0;
  border-radius: $radio-group-border-radius;
  overflow: hidden;
  vertical-align: middle;

  @mixin hover($color){
    color:getColorContrast($color);
    background: $color;
    @include colorChange('radio-group',rgba(0,0,0,0),$color,0.5s);
  }
 

  input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    
    &:checked + label{
      color: lighten($radio-group-bg,70%);
      background: $radio-group-fg;
     @include colorChange('radio',rgba(0,0,0,0),$radio-group-fg,2s);
    }
    &:focus + label{
      //outline:3px rgba($radio-group-bg,0.3) ;
     box-shadow: inset 0 0 0 3px rgba(#fff,0.5);
    }
  }

  label {
    color: $radio-group-bg;
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px;
    float: right;
    
    &:hover{
      @include hover(lighten($color,40%));
    }
    &:first-of-type{
      border-radius:0 $radio-group-border-radius  $radio-group-border-radius 0;
    }
    &:last-of-type{
      border-radius:$radio-group-border-radius 0 0 $radio-group-border-radius ;
     
    }

  }

 

  label + input[type=radio] + label {

      border-right: $radio-group-border;

  }
 
}