
.rz-rating {

  direction: ltr;

  a {
    display: inline-block;
  }

  .rzi {
    font-family: 'Material Icons' !important;
    font-size: 24px;
    vertical-align: middle;

    &.rzi-star-o {
      opacity: 0.5;
    }

    &.rzi-ban {
      display: none;
    }
  }
}

.rating-container {
  .rate-wrapper {
    display: inline-block;
    
  }

  .rate {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  .rate-count {
    display: inline-block;
    vertical-align: middle;

    .badge {
      font-size: 15px;
      font-weight: normal;
    }

    .from {
      font-size: 11px;
      opacity: 0.8;
    }

  }
}
