$small-size: $container-tablet;
$max-width: $container-large-desktop;


.tabs-wrapper {
  direction: rtl;
  max-width: $max-width;
  margin: 0 auto $margin-default;

  .tabs {
    text-align: right;
    margin-top: 40px;

    .tab {
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      padding: 5px 20px;
      color: $txt-hover-color;
      opacity: 0.5;
      margin-bottom: -1px;
      cursor: pointer;
      @include transition(opacity 1s ease-in-out);

      &.active {
        border-color: $brand-success;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .panels {
    border-top: 1px solid $gray-lighten;
    .panel {
      
      padding: 30px;
      visibility: hidden;
      @include media-max($container-large-tablet) {
        padding: 30px 10px;

      }

      &.panel-color {
        background:#fff ;
        box-shadow: $panel-box-shadow;
      }

      &.active {
        visibility: visible;
        @include animate(fadeIn, 2s);
      }

      .panel-title {
      }
    }
  }

  .description {
    line-height: $line-height-long-text;
  }

  .table {
    background: #fff;
    $tbl-color: #f5f5f5;
    border: 1px solid $tbl-color;
    margin: 10px;


    .table-row {

      &:nth-child(even) {
        background: #fafafa;
      }

      border-bottom: 1px solid $tbl-color;

      .col {
        padding: 5px;

        &.caption {
          text-align: left;
          @include caption;

          @include media-max($small-size) {
            text-align: right;
            padding: 2px 15px;
          }
        }

        &.content {
          text-align: right;
          @include content;

          @include media-max($small-size) {
            padding: 2px 15px;
          }
        }
      }
    }
  }
}