@mixin ToastStyle($basecolor) {
  $bgcolor: getColorlightness($basecolor, 92%);
  $fcolor: getColorlightness($basecolor, 30%);
  background: rgba($bgcolor,0.98);
  color: $fcolor;
  .Toastify__close-button {
    color: $fcolor;
    opacity: 0.6;
  }
}

.Toastify__toast-container {
  $Type: (
    "error": $brand-error,
    "success": $color-success,
    "warning": $brand-warning,
    "info": $brand-intense-info,
  );
  .Toastify__toast {
    box-shadow:$shadow-dark;
    @each $type, $color in $Type {
      &.Toastify__toast--#{$type} {
        @include ToastStyle($color);
      }
    }
  }
}
