

.footer{
  background-color: #fff;
  .footer-contact {
    width: 100%;
    background-color: $footer-bg-color;
    padding: 24px 0;
    direction: rtl;
    .contact-nav{
      display: flex;
      justify-content: center;
      .contact-txt {
        font-family: $font-family-bold-iran-sans;
        font-size: 13px;
      }
    }
  }
  .footer-about-us{
    width: 100%;
    border-radius: $border-radius-medium;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #f7f7f7;
    padding: 25px 40px;
    &-logo{
      margin-bottom: 20px;
      img{
        width: 130px;
      }
    }
    &-content{
      line-height: 24px;
      text-align: justify;
      font-size: $font-size-base;
    }
    ul{
      margin-top: $margin-default;
      li{
        margin-bottom: 8px;
        &::before {
          content: "\2022";
          color: $brand-success;
          font-weight: bold;
          display: inline-block;
          width: 15px;
          font-size: 20px;
          top: 3px;
          position: relative
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-link{
    padding: 0px 40px;
    width: 800px;
    margin: auto;
    margin-bottom: 25px;
    a{
      color: $gray;
      font-size: $font-size-base;
      font-family: $font-family-bold-iran-sans;
      padding: $padding-default ($padding-default * 2);
      margin: ($margin-default * 0.3) $margin-default;
      
      &::before {
        content: "\2022";
        color: $brand-success;
        font-weight: bold;
        display: inline-block;
        width: 15px;
        font-size: 20px;
        top: 3px;
        position: relative
      }
      &:hover{
        color: $brand-success;
      }
    }
  }
  .footer-copyright{
    padding: 25px;
    border-top: 2px solid rgba(0,0,0,.1);
    text-align: center;
    span{
      padding-right: 25px;
      position: relative;
      b{
        font-family: $font-family-bold-iran-sans;
        color: $brand-success;
      }
      &::before{
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
    //    background: url("#{$img-url}footer/copyright.svg");
        background-size: 100%;
        background-position: center;
        top: 3px;
        right: 0;
      }
    }
  }
  .copyright-link-wrapper{
    text-align: center;
    .eNamad-image{
      padding: $padding-default;
      margin: 25px 35px;
      display: inline-block;
      border: 1px solid #ddd;
      img{
        width: 85px;
      }
    }
  }
  @media only screen and(max-width: $container-large-mobile){
    .footer-about-us{
      padding: 25px;
      ul{
        display: none;
      }
    }
    .footer-link{
      display: block !important;
      padding: 0;
      width: 100%;
      a{
        display: inline-block;
        margin: 0 10px
      }
    }
  }
}
