$small-size: $container-tablet;
$small-mobile-size: $container-mobile;

nav {
  &.navbar {
    height: $nav-height;
    background-color: #fff;
    border-bottom: 1px solid #ecf2f8;
    width: 100%;
    direction: rtl;
    box-shadow: 0 -6px 24px 7px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    z-index: $z-index-navbar;

    .navbar-brand {
      width: 120px;
      height: calc(#{$nav-height} - 15px) !important;
      margin-left: 50px;
      background: url("../../../images/logo/logo-horiz.svg") no-repeat center
        center;
      // background: url("#{$img-url}sazeafzarLogo/logo1.png") no-repeat center center;
      background-size: 100% auto;
      position: relative;
      z-index: $z-index-navbar-brand;
    }

    .navbar-nav {
      &.guest-navbar {
        width: 145px;
      }

      .nav-item {
        margin-left: 15px;

        a {
          color: #000;
        }
      }
    }

    .left-nav {
      .btn {
        margin-left: 15px;
        &.btn-success {
          padding-left: 28px;
          padding-right: 28px;
        }
        &.btn-select-city {
          $color: $brand-success;
          transition: all 0.3s ease-in-out;
          // font-size: 13px;
          //  border-radius: 15px;
          //------------------------
          //  border: 1px solid #278401;
          //   border-radius: 21px;
          padding: 5px 15px 5px 5px;
          //---------------------------
          &:hover {
            //   background: rgba($color,0.1);
          }
          .icon:before {
            font-size: 20px;
            margin-right: 2px;
            //  color:$color;
          }
        }
      }

      a {
        &.btn-outline-success {
          display: inline-block;
          line-height: $btn-height;
        }
      }

      .collapse {
        display: block !important;
      }

      .navbar-nav {
        flex-direction: row !important;

        .nav-item {
          margin-left: 0;

          .nav-link {
            position: relative;
            padding-right: 20px;
            padding-left: 20px;
            cursor: pointer;

            &::after {
              content: "";
              position: absolute;
              top: 8px;
              bottom: 8px;
              width: 1px;
              background-color: #ddd;
              right: 0;
            }
          }

          &:first-child {
            .nav-link {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and(max-width: $container-large-desktop) {
    &.navbar {
      .search-box-wrapper {
        .search-box {
          width: 400px;
        }
      }

      .left-nav {
        button {
          &.btn:not(.btn-select-city) {
            display: none;
          }
          &.btn-select-city {
            line-height: 85%;
            font-size: 12px;
            padding: 5px 10px !important;
            align-items: center;
            justify-content: space-around;
            .icon {
              display: none;
            }
          }
        }
      }
    }
  }

  @media only screen and(max-width: $container-desktop) {
    &.navbar {
      box-shadow: none;

      .navbar-brand {
        width: 110px;
        margin: 0 $margin-default;
      }

      .container-main {
        padding: 0;
      }

      .search-box-wrapper {
        position: absolute;
        bottom: -(#{$nav-height});
        left: 0;
        right: 0;
        padding: 11px 45px;
        background-color: #fff;
        border-bottom: 1px solid $border-base-color;
        box-shadow: 0 22px 35px -15px rgba(0, 0, 0, 0.06);
        padding: $padding-default;

        .search-box {
          width: 100%;
        }
      }
    }
  }

  @media only screen and(max-width: $small-mobile-size) {
    .navbar-brand {
      margin: 0 ($margin-default * 0.5) 0 0 !important;
    }
  }
}

.user-panel-navbar {
  .navbar-Personal {
    margin-right: 20px;
    display: flex;

    @include media-max($small-mobile-size) {
      margin-right: 5px;
    }

    .btn-img {
      $width: 25px;
      width: $width;
      height: $width;
      border: 0;
      display: inline-block;
      vertical-align: middle;

      &:focus {
        outline: 0;
      }
    }

    .btn-no-style {
      position: relative;
      &[class^="icon-"],
      &[class*=" icon-"] {
        border-radius: 50%;
        margin: 0 10px;
        &:hover {
          &:before {
            text-shadow: 0 0 16px black;
          }
        }

        &::before {
          font-size: 1.6em;
        }
        .badge {
          float: right;
          padding: 5px 6px 3px;
          @include position-absolute(-3px, -50%, auto, auto);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.6),
            inset 0 0 2px rgba(0, 0, 0, 0.4);

          animation: Sunflower 4s linear infinite;
          -webkit-animation: Sunflower 4s linear infinite;
          -moz-animation: Sunflower 4s linear infinite;
          -o-animation: Sunflower 4s linear infinite;

          @keyframes Sunflower {
            0% {
              opacity: 1;
            }
            30% {
              opacity: 0.5;
            }
            60% {
              opacity: 1;
            }
          }
        }
      }

      &:not(.icon-user) {
        @include media-max($container-desktop) {
          display: none;
        }
      }
    }

    .navbar-modal {
      position: relative;
      display: none;

      &.show {
        display: block;

        .navbar-modal-shadow {
          opacity: 1;
        }

        .navbar-modal-menu {
          @include animate(fadeInDownBig, 0.5s);

          &.noSetData {
            @include animate(heartBeat, 0.5s);
          }
          .error-attention {
            background: $attention;
            margin: -$margin-default;
            padding: $padding-default;
            a {
              color: #fff;
              text-shadow: $textshadow-attention;
            }
          }
        }
      }

      &.isTimer {
        .navbar-modal-menu {
          @include animate(backOutUp, 2s);
        }
      }

      .navbar-modal-shadow {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        // background: rgba($gray-base, 0.1);
        transition: opacity 20s linear;
        opacity: 0;
      }

      .navbar-modal-menu {
        @include panel-box();
        background: #fff;
        position: absolute;
        top: 25px;
        //right: 10%;
        left: 5%;
        display: inline-block;
        box-shadow: 0 0 10px 0 #333 !important;

        ul {
          $with: 180px;
          $padding: $panel-box-padding;
          width: $with;

          li {
            color: $gray-light;
            line-height: 30px;
            font-size: $font-size-small;

            &.top-img {
              background: rgba($gray, 0.05);
              margin: (-$panel-box-padding) (-$panel-box-padding)
                $panel-box-padding;
              text-align: center;
              border-bottom: 1px solid rgba($gray, 0.1);
              padding: ($padding * 2) $padding;

              @include media-max($small-size) {
                display: none;
              }

              .img {
                width: $with - ($padding * 2);
                height: $with - ($padding * 2);
                background: no-repeat center center;
                background-size: cover;
                margin: 0 auto;
                border-radius: 50%;
              }
            }

            &.name {
              margin: 0 0 10px;

              @include media-max($small-size) {
                margin: -10px -10px 10px;
                background: rgba($brand-info, 0.2);
                padding: 10px 0;
              }
            }

            &.charge {
              .broke {
                color: $brand-error;
              }

              .wealthy {
                color: $brand-success;
              }

              .poor {
                color: $brand-warning;
              }
            }

            &.action-bottom {
              margin: $panel-box-padding (-$panel-box-padding)
                (-$panel-box-padding);
              padding: $panel-box-padding;
              border-top: 1px solid rgba($gray, 0.1);

              &:hover {
                background: 1px solid rgba($gray, 0.05);
              }
            }

            .bold {
              color: $gray-base;
              font-size: $font-size-small;
            }

            &.navbar-personal-mob {
              display: none;
              border-top: 1px dashed rgba($brand-info, 0.4);
            }
            a {
              display: block;
              color: $gray-text;
              &:hover {
                color: #000;
              }
            }
          }
        }
      }

      @include media-max($small-size) {
        text-align: center;
        position: fixed;
        top: 10%;
        right: 0;
        left: 0;

        .navbar-modal-shadow {
          background: rgba($gray-base, 0.2);
        }

        .navbar-modal-menu {
          position: relative;
        }
      }
    }

    @media only screen and(max-width: $container-desktop) {
      .navbar-modal {
        .navbar-modal-menu {
          ul {
            li {
              &.navbar-personal-mob {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and(max-width: $container-desktop) {
    .navbar-Personal {
      .navbar-modal {
        .navbar-modal-menu {
          ul {
            li {
              &.navbar-personal-mob {
                display: block !important;
              }
            }
          }
        }
      }
    }

    nav {
      &.navbar {
        .left-nav {
          .collapse {
            display: none !important;
          }
        }
      }
    }
  }
}
