.sub-page-container {
  .sub-page-header{
    @include panel-box;
    background: $breadcrumb-bg;
    
  }
  .sub-page-title {
    position: relative;
    direction: rtl;
    margin: 25px 0;


    span {
      background-color: $body-bg;
      padding-left: $padding-default;
      position: relative;
    }

    a {
      position: relative;
      border: none;
      padding: 0;
      background-color: $body-bg;
      padding-right: $padding-default;
      font-size: $font-size-small;
      color: $brand-info;
    }

    &::before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 12px;
      height: 1px;
      background-color: $gray-base;
    }
  }
  
  @media only screen and(max-width: $container-large-mobile) {
    &.container-main {
      padding: 0 10px;
    }
  }
}
