@import "base/reset";
@import "base/normalize";

//abstracts

@import "abstracts/font";
@import "abstracts/font-icon";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/function";

// //base
@import "base/animate";
@import "base/global";

//component
@import "component/button";
@import "component/categor";
@import "component/inputs";
@import "component/product";
@import "component/pagination";
@import "component/loading";
@import "component/filter";
//@import "component/tab";
@import "component/text";
//@import "component/list";

//layout
@import "layout/body";
//pages
