
.product-list {
  $height: 150px;
  $img-size: 120px;
  direction: rtl;


  .product-review-item {
    .card {
      @include panel-box();
      padding-top: 0;
      padding-bottom: 0;
      font-size: $font-size-small;
      color: $gray-text;

      .img-container {
        height: $height;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: 80% auto !important;
        height: $height;
        background-size: cover !important;
        background-position: center !important;
        width: 100%;
        border-bottom: 1px solid $card-border-color;
      }


      .info-container {
        width: 100%;
        float: right;
        box-sizing: border-box;
        padding: 5px $padding-default;
        min-height: 70px;
        .title-part {
          line-height: 150%;
          font-size: 13px;
         padding: 10px 0;
        }
        .row-part {
                   
          a {
            color: #838383;

            span {
              color: $text-color;
            }
          }


          label {
            margin-top: 5px;
            display: block;
            font-size: $font-size-x-small;
          }
        }
      }
    }
  }
}
