body {
  $scroll-size: 12px;

  font-family: $font-family-base !important;
  font-size: 13px;
  text-align: right;
  background-color: red;
  color: $text-color;
  line-height: $line-height-default;
  overflow-x: hidden;
  direction: rtl;
  @include scroll($scroll-size, $gray, $gray);

  &.modal-open {
    padding-right: $scroll-size !important;
  }
  * {
    font-family: $font-family-base;
  }
}

.bold {
  font-family: $font-family-bold-iran-sans;
}

a {
  text-decoration: none;
  color: $txt-hover-color;

  &:hover {
    text-decoration: none;
    color: $txt-hover-color;
  }
}

i {
  font-style: italic;
}

.list-style-disc {
  li {
    list-style: disc;
    list-style-position: inside;
  }
}

/* Optional styling */
summary::-webkit-details-marker {
  color: blue;
}

summary:focus {
  outline-style: none;
}

.dropdown-toggle::after {
  display: none;
}

.container-main {
  width: $container-large-desktop;
  margin: auto;

  @media only screen and(max-width: 1500px) {
    width: 100%;
    padding: 0 10px;
  }
}

.container-small {
  width: $container-tablet;
  margin: auto;

  @include media-max($container-tablet) {
    width: 100%;
    padding: 0 30px;
  }
}

.overlay-for-search {
  margin-top: 100px;

  @media only screen and(max-width: $container-desktop) {
    margin-top: 145px;
  }
}

.overlay-for-header {
  margin-top: 100px;
}

.vertical-line {
  width: 1px;
  height: 80%;
  margin: 0 20px;
  background-color: $gray-light;
}

.main-section {
  direction: rtl;
  margin-top: 40px;

  p {
    margin-top: 10px;
  }

  img {
    width: 32px;
    vertical-align: middle;
  }

  .input-group {
    width: 650px;
    direction: ltr;
    margin: 25px auto;

    .btn {
      font-size: 12px;
      direction: rtl;
      height: auto;
      background: #fff;
      border-color: $form-border-color;

      &.dropdown-toggle {
        width: 130px;

        img {
          width: 10px;
          margin-right: 6px;
        }
      }

      &.btn-success {
        img {
          width: 18px;
          transform: rotateY(180deg);
        }
      }
    }

    .form-control {
      border-color: $form-border-color;
    }
  }

  .tags-section {
    margin-bottom: 35px;

    .btn {
      border-radius: $border-radius-xlarge;
      font-size: $font-size-small;
      margin: 0 5px;

      &.active {
        background-color: $brand-success;
        color: #fff;
      }
    }
  }

  .cards-section {
    .card {
      border: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
      border-radius: 0;
    }
  }
}

.number {
  direction: ltr !important;
  display: inline-block;
}
.dir-ltr {
  direction: ltr !important;
}
.english-font {
  direction: ltr !important;
  font-family: Tahoma !important;

  display: inline-block;
}

.flex {
  -webkit-box-flex: 1;
  flex: 1;
}

table {
  &.table-white {
    background: #fff;
  }

  .thead-light {
    th {
      color: #495057;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }
  }

  &.table-hover {
    & > tr:hover {
      background: #fafafa;
    }
  }
}

.amount {
  &.positive {
    color: $brand-success;
  }

  &.negative {
    color: $brand-error;
  }
}

iframe {
  margin: $margin-default 0;
  padding: 0 $padding-default;
  border: 3px solid $gray-lighten;
}

.link {
  color: $link-color;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color !important;
    text-decoration: underline;
  }

  @include disabled-selector {
    color: $gray-lighten !important;
    cursor: default;
    text-decoration: none;
  }
}

.img-link {
  font-size: 0;
}

.center {
  text-align: center;

  & > * {
    margin: 0 auto;
  }
}
.gray-section {
  background-color: $footer-bg-color;
}
.take-more {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  line-height: $line-height-default;
}
.table {
  tr:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}
.persiansazeLogo {
  //  background: url("../../../../images/logo/persiansazeLogo.svg") no-repeat center center;
  background-size: auto 80%;
}
.hid-element {
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.bg-darck-cerv {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: inline-block;
  padding: 0 3px;
  margin: 1px 2px;
}

.pop {
  position: fixed;
  background: #cdd6e0;
  padding: 20px;
  z-index: 1000000000;
}
.shadow-base {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

.click {
  cursor: pointer;
}
.x-scroll {
  max-width: 100%;
  overflow-x: auto;
  @include scroll(10px, $gray, $brand-intense-info);
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: flex-start;
}
