body {
  $scroll-size: 12px;

  font-family: $font-family-base !important;
  font-size: 13px;
  text-align: right;
  background-color: $body-bg;
  color: $text-color;
  line-height: $line-height-default;
  overflow-x: hidden;
  direction: rtl;
  @include scroll($scroll-size, $gray, $gray);

  &.modal-open {
    padding-right: $scroll-size !important;
  }
  * {
    font-family: $font-family-base;
  }
}

.bold {
  font-family: $font-family-bold-iran-sans;
}

a {
  text-decoration: none;
  color: $txt-hover-color;

  &:hover {
    text-decoration: none;
    color: $txt-hover-color;
  }
}

i {
  font-style: italic;
}
.container {
  max-width: auto !important;
  width: 100% !important;
  @include media-max($container-tablet) {
    max-width: auto !important;
  }
}

.number {
  direction: ltr !important;
  display: inline-block;
}
.dir-ltr {
  direction: ltr !important;
}
.english-font {
  direction: ltr !important;
  font-family: Tahoma !important;

  display: inline-block;
}
.click {
  cursor: pointer;
}
.center-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
