$small-size: $container-large-mobile;
$color: #0b2c6e;
.contact-us-container {


  @include media-max($small-size) {
    padding: 0 !important;
  }

  .card-panel-none-color {

    margin-bottom: 30px;

    .card-title {
      font-size: $font-size-default;
      margin-bottom: 30px;
      @include media-max($small-size) {
        padding-right: 25px;
      }
    }

    .content-container {

      $size: 30px;
      font-size: $font-size-default;
      border-right: 2px solid #eee;
      margin-right: $size;
      margin-left: $size;

      .line {
        background: #fff;
        position: relative;
        margin-right: $size;
        margin-bottom: 10px;
        border: 1px solid #eee;
        border-radius: $border-radius-large;


        &:after {

          content: "";
          position: absolute;
          right: -(($size * 1.5) +2px);
          top: 0;
          width: $size;
          height: $size;
          border-radius: 50%;
          display: inline-block;
          font-family: 'icomoon' !important;
          vertical-align: middle;
          color: #fff;
          text-align: center;
        }

        $names: address, email, phone;

        @each $name in $names {
          &.#{$name}:after {
        //    background: $color url("#{$img-url}contact/#{$name}.svg") no-repeat center center;
            background-size: 50% auto;
          }
        }

        .caption {
          color: $gray-text;
          
          display: inline-block;
          font-size: 110%;
        }

        .content {
          padding-right: 15px;
          display: inline-block;

          .active-link {
            border: 1px solid #efefef;
            background: #f0f0f0;
            border-radius: 20px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            display: inline-block;
            padding: 2px 25px 0;
            font-size: 11px;
            font-weight: bold;
            line-height: 18px;

            &:hover {
              background: #e9e9e9;
            }
          }


        }


        .working-hour {
          background: $color;
          color: #fff;
          border-radius: $border-radius-large 0 0 $border-radius-large;
          border-right: 1px solid darken($color, 10%);

          .caption {
            color: rgba(#fff, 0.8);
          }

         
          .dotted-container{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 15px 0;
            .dotted {
              align-self: center;
              height: 0;
              border-top: 1px dashed rgba(255, 255, 255, 0.1);
              flex-grow: 2;
            }
          }

          @include media-max($small-size) {
            border-radius: 0 0 $border-radius-large $border-radius-large;
            border-right-width: 0;
            border-top: 1px solid darken($color, 10%);
          }
        }

        .line-flex {
          display: flex;
          flex-direction: row;
          @include media-max($small-size) {
            flex-direction: column;
          }

          &.line-row {
            justify-content: stretch;
            align-items: baseline;
          }
        }
      }

      .line-row {
        padding: $padding-default;
        margin-bottom: 10px;
      }
    }

    span {
      display: inline-block;
    }

    font-size: 10px;
  }
}
