@import "../../abstracts/variables";
@import "../../abstracts/mixins";

$small-size: $container-tablet;
$img-list-length: 0;
$max-width: $container-large-desktop;
$small-width: $container-large-tablet;
$img-margin: 5px;

.product-page-wrapper {
  $colorBase: $brand-success;
  margin: 25px 0;

  .product-item {
    max-width: $max-width;
    margin: 0 auto $margin-default;
    @include panel-box();
    background: #fff;
    padding: 20px;

    .title-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        line-height: 170%;
        font-size: $font-size-default;
        margin-bottom: 0;
        padding-bottom: $padding-default;
        text-align: right;
      }

      small {
        float: left;
        font-size: $font-size-x-small;
        color: $gray-light;
      }
    }

    .product-item-row {
      padding-top: 25px;
      padding-top: 25px;
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;

      p {
        line-height: 200%;
        font-size: $font-size-small;
        font-family: $font-family-base;
      }

      &.img-description-wrapper {
        direction: ltr;

        .description {
          direction: rtl;
          align-content: space-between;
          flex-wrap: wrap;
          display: flex;
          padding: 0 20px 20px;
          @include media-max($container-large-tablet) {
            padding: 25px 0px 20px;
          }

          &.main-description {
            .manufacturer_info {
              @include media-min($small-width) {
                border-left: 2px dashed rgba($colorBase, 0.3);
                margin-left: 20px;
                padding-left: 20px;
              }
              @include media-max($small-width) {
                border-top: 2px dashed rgba($colorBase, 0.3);
                margin-top: 20px;
                padding-top: 20px;
              }
            }

            .provider {
              $line-height: 25px;
              display: inline-block;
              line-height: $line-height;
              @include colorPalette($gray, $hover: true);
              padding: 0 $padding-small;
              position: relative;
              border-radius: $border-radius-xlarge;
              font-size: 90%;
              cursor: pointer;
            }

            .brief {
              max-width: 350px;
            }

            .price {
              $color: #4bb714;
              $line-height: 30px;
              $font-color: #4bb714;

              .caption {
                line-height: $line-height;
              }

              .content {
                padding: 0 5px 0 20px;
                color: $font-color;

                &.price-container {
                  position: relative;
                }

                .price-unit {
                  padding-right: 5px;
                  color: $gray-text;
                  font-size: 90%;

                  b {
                    color: $gray-base;
                  }
                }

                .price {
                  color: $font-color;
                  display: inline-block;

                  &.have-discount {
                    color: rgba($gray-light, 0.9);

                    .numb {
                      text-decoration: line-through;
                      font-size: 100%;
                    }
                  }

                  .numb {
                    font-size: 120%;
                    vertical-align: middle;
                    line-height: $line-height - 4px;
                    padding-left: 5px;
                    padding-top: 2px;
                    display: inline-block;
                    font-size: 16px;
                    font-family: $font-family-bold-iran-sans;
                    color: inherit;
                  }
                }

                .show-discount {
                  display: inline-block;
                  $size: 50px;
                  $padding: 5px;
                  width: $size;
                  height: $size;
                  padding: ($padding * 2) 0 0;
                  background: $brand-success;
                  color: #fff;
                  font-size: 90%;
                  text-align: center;
                  line-height: ($size * 0.5)- ($padding * 2);
                  border-radius: 50%;
                  position: absolute;
                  top: -50%;
                }

                .no-currency {
                  display: inline-block;
                  padding-top: 4px;
                }

                .currency {
                  @include caption;
                  line-height: $line-height;
                  color: inherit;
                }
              }
            }

            .main-caption {
              display: block;
              font-size: 90%;
              color: $gray-base;
              margin: 0 0 5px;
              font-family: $font-family-bold-iran-sans;
            }
          }
        }

        .img-gallery-wrapper {
          display: flex;
          flex-direction: column;
          align-items: stretch;

          .img-list-wrapper {
            $h:70px;
            text-align: center;
            display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // flex-wrap: nowrap;
            display: block;
            height: $h;
            width: 100%;
            overflow: hidden;
            min-height:$h;
           // overflow: hidden;

            .img-wrapper {
              display: inline-block;
              $size: 60px;
              width: $size;
              height: $size;
              margin: 5px;
              position: relative;
 
              &.see-more-ntn {
                filter: grayscale(100%);
                cursor: pointer;
                position: relative;

                &:hover {
                  filter: grayscale(10%);
                }

                &:before {
                  //  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  // content: "\e9a4";
                  font-family: "icomoon" !important;
                  speak: never;
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                  vertical-align: middle;
                  /* Better Font Rendering =========== */
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
              }
            
              .see-more {
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                transition: opacity 1s linear;
                &:hover {
                  opacity: 1;
                }
              }
              &:first-child{
                .see-more{
                  opacity: 0.5;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
              .img-simple {
                max-width: 100%;
                width: 100%;
                border-radius: 5px;
                margin: 0 !important;
              }
            }
          }

          .gallery-container {
            width: 0;
            height: 0;
            flex-grow: 0;

            .btn-open-gallery {
              $size: 100px;
              width: $size;
              height: $size;
              position: absolute;
              background: rgba(150, 150, 150, 0.2);
              top: $img-margin;
              left: $img-margin + 15px;
              z-index: 2;

              &:focus,
              &:active {
                outline: 0;
                background: rgba(150, 150, 150, 0.5);
                box-shadow: inset 0 0 14px 0.2rem rgba(130, 138, 145, 0.5);
              }

              .icon {
                font-size: 50px;
                color: #fff;
              }
            }
          }

          .img-wrapper {
            width: 100%;

            .img-main-wrapper {
              text-align: center;
              padding-bottom: 10px;
              display: inline-block;
            }

            .see-more {
              position: relative;
              display: inline-block;

              &:before {
                color: #fff;
                background: rgba(150, 150, 150, 0.5);
                content: "\e9a4"; //icon-more-horizontal
                font-family: "icomoon";
                @include position-absolute(0, 0, 0, 0);
                background: rgba(255, 255, 255, 0.7);
                font-size: 30px;
                text-align: center;
                vertical-align: middle;
                color: #333;
                cursor: pointer;
                padding-top: 33%;
              }
            }

            .img {
              width: 100%;
              border-radius: $border-radius-large;
              border: 1px solid $gray-lighten;
              margin: $img-margin;

              &.img-main {
                @include media-max($small-size) {
                  max-width: 300px;
                  margin: 0 auto;
                }
              }

              &.img-simple {
                height: auto;
                cursor: pointer;
                width: 100%;
                &:hover {
                  box-shadow: 0 0 2px 0 #333;
                }

                &.selected {
                  box-shadow: 0 0 3px 1px #333;
                }
              }
            }
          }
        }
      }
    }

    .info-row {
      .caption {
        display: inline-block;
        padding-left: 10px;
        line-height: $line-height-default;
        @include caption;
      }

      .content {
        .provider {
          background: #6c757d;
          padding: 2px 10px;
          border-radius: 20px;
          color: #fff;
          //  text-decoration: underline;
        }
      }
    }
  }

  .tabs-wrapper {
    .panels {
      min-height: 300px;
      word-break: break-word;
      text-align: justify;

      .panel {
        min-height: 300px;
      }
    }
  }
}

.modal-content {
  .img-wrapper {
    @include media-max($container-large-tablet) {
      display: flex;
      flex-direction: column-reverse;
    }

    .img-main-wrapper {
      float: right;
      text-align: center;
      padding-bottom: 10px;
      min-height: 600px;
    }

    .img-list-wrapper {
      float: left;
      text-align: center;
    }

    .img {
      width: 100%;
      border-radius: $border-radius-large;
      border: 1px solid $gray-lighten;

      &.img-main {
        max-width: 500px;
        max-height: 500px;
        @include media-max($small-size) {
          max-width: 300px;
          margin: 0 auto;
        }
      }

      &.img-simple {
        max-width: 80px;
        cursor: pointer;
        margin: 0 auto 10px;

        @include media-max($container-sm) {
          max-width: 50px;
          margin: 5px;
        }

        &:hover {
          box-shadow: 0 0 2px 0 #333;
        }

        &.selected {
          box-shadow: 0 0 3px 1px #333;
        }
      }
    }
  }
}

.call {
  $width: 16px;
  background: #f1f1f1;
  position: relative;
  padding: 2px 10px 1px ($width + 10px);
  font-size: 10px;
  border-radius: 2px;
  border: 1px solid #ececec;
  cursor: pointer;
  margin: 1px 2px;
  display: inline-block;
  font-family: $font-family-bold-iran-sans;

  &.show {
    display: inline-block;
    @include animate(fadeIn, 2s);
  }

  &:hover {
    box-shadow: $card-box-shadow;
    background-color: $brand-success;
    border-color: darken($brand-success, 2%);
  }

  &:after {
    content: " ";
  //  background: url("#{$img-url}phone.svg") center center no-repeat;
    width: $width;
    height: $width;
    background-size: auto $width;
    position: absolute;
    top: 3px;
    left: 5px;
  }
}

.show-hide-info {
  &.icon-eye {
    $line-height: 25px;
    display: inline-block;
    line-height: $line-height;
    @include colorPalette($gray, $hover: true);
    padding: 0 $padding-small;
    position: relative;
    border-radius: $border-radius-xlarge;
    font-size: 90%;
    cursor: pointer;

    &:before {
      float: left;
      line-height: $line-height;
      margin-right: 10px;
    }
  }

  &.hide {
    display: none !important;
  }
}
