//**Mixin placeholder input
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}

@mixin ellipsis-text($clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin transition($typ) {
  -webkit-transition: $typ;
  -moz-transition: $typ;
  -ms-transition: $typ;
  -o-transition: $typ;
  transition: $typ;
}

@mixin media-max($screen-size) {
  @media (max-width: $screen-size) {
    @content;
  }
}

@mixin media-min($screen-size) {
  @media (min-width: $screen-size) {
    @content;
  }
}

@mixin scroll($width, $bg-color, $thumb-color) {
  /* width */
  &::-webkit-scrollbar {
    width: $width !important;
    height: $width !important;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgba($bg-color, 0.7) !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumb-color !important;
    border-radius: 10px !important;
    cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken($thumb-color, 5%) !important;
  }
}

@mixin card-content {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  background-color: #fff;
  padding: $padding-default;
  box-shadow: $base-shadow;
}

@mixin animate($name, $time) {
  //https://animate.style/
  animation: $name;
  animation-duration: $time;
}

@function getColorContrast($color) {
  @if (lightness($color) >50%) {
    @return darken($color, 50%);
  } @else {
    @return lighten($color, 50%);
  }
}

@mixin placeholderColor($color, $opacity) {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
    opacity: $opacity;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
    opacity: $opacity;
  }
}

@mixin toggle($size, $color, $close-class) {
  width: $size;
  height: $size;
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  @include transition(700ms ease);

  &:after,
  &:before {
    content: "";
    position: absolute;
    height: $size * 0.125;
    width: 100%;
    background: $color;
    @include transition(700ms ease);
    border-radius: 40px;
    top: 50%;
  }

  &:after {
    transform: rotate(45deg);
    right: 0;
  }

  &:before {
    transform: rotate(-45deg);
    left: 0;
  }
  &.#{$close-class} {
    &:after,
    &:before {
      width: 60%;
    }
    &:before {
      left: 35%;
    }

    &:after {
      right: 35%;
    }
  }
}

@mixin dual-ring($size, $color, $width) {
  display: inline-block;
  width: $size;
  height: $size;
  &:after {
    content: " ";
    display: block;
    width: $size - $width;
    height: $size - $width;
    margin: $width + 2;
    border-radius: 50%;
    border: $width solid $color;
    border-color: $color transparent $color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin input-Loading($size, $color, $width) {
  position: relative;
  &:after {
    top: 0;
    right: calc(50% - (#{$size} * 0.5));
    content: " ";
    display: inline-block;
    width: $size - $width;
    height: $size - $width;
    margin: 0;
    border-radius: 50%;
    border: $width solid $color;
    border-color: $color transparent $color transparent;
    animation: ring 3s linear infinite;
  }
  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(360deg);
    }
    20% {
      transform: rotate(720deg);
    }
    25% {
      transform: rotate(1440deg);
    }

    100% {
      transform: rotate(2880deg);
    }
  }
}
