$attention: #ff661f;

$img-url: "../../../../images/";
$font-url: "../../fonts/";
$light-base: #fff !default;
$gray-base: #333 !default;
$gray: #6c757d !default;
$gray-light: #959cb6 !default;
$gray-lighten: #e1e1ef !default;
$gray-text: rgb(80, 80, 80);

$brand-success: #278401 !default;
$brand-info: #80bdff !default;
$brand-intense-info: #0069ff !default;
$brand-error: $attention;
$brand-warning: #ff9000;

//** Background color for `<body>`.
$body-bg: #f1f2f4 !default;
$default-bg: #fff;
$loading-color: $brand-success;
//btn
$btn-primary: $brand-intense-info;
$btn-Info: $brand-info;
$btn-success: $brand-success;
$btn-danger: $brand-error;
$btn-default: $gray-base;

//** Global text color on `<body>`.
$text-color: $gray-text !default;
$text-color-dark: #000 !default;
$txt-hover-color: #000 !default;
$border-base-color: #ebedf2 !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-iran-sans: IranianSansFa !default;
$font-family-bold-iran-sans: IranianSansFaBold !default;
$font-family-base: $font-family-iran-sans !default;

//== Components
//
//## Define common padding and border radius sizes and more.
$border-radius-base: 6px !default;
$border-radius-medium: 8px !default;
$border-radius-large: 10px !default;
$border-radius-xlarge: 20px !default;
$border-radius-small: 2px !default;
$border-radius-default: 15px !default;
$border-base-color: $gray !default;

$padding-default: 15px !default;
$padding-small: 10px !default;
$margin-default: 15px !default;
$margin-small: 10px !default;

$line-height-default: 21px !default;
$line-height-long-text: 300% !default;

//Font Size Header tag & FontSize Standard
$font-family-header: $font-family-bold-iran-sans !default;
$font-size-default: 14px !default;
$font-size-large: ceil(($font-size-default * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-default * 0.85)) !default; // ~12px
$font-size-x-small: 10px !default;
$font-size-base: $font-size-default !default;
//** Global fontSize & Button.
$form-font-size-base: $font-size-small !default;

$font-size-h1: floor(($font-size-default * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-default * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-default * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-default * 1.25)) !default; // ~18px
$font-size-h5: $font-size-default !default;
$font-size-h6: ceil(($font-size-default * 0.85)) !default; // ~12px
$font-family-head: $font-family-bold-iran-sans !default;
//----z-index------
$z-index-base: 1;
$z-index-navbar: 1000;
$z-index-navbar-brand: 100;

$container-large-desktop: 1400px !default;
$container-desktop: 1024px !default;
$container-large-tablet: 992px !default;
$container-tablet: 768px !default;
$container-large-mobile: 600px !default;
$container-sm: 576px !default;
$container-mobile: 480px !default;
//---------------------------
$border-color: #e0e0e0;

//== Forms
//
//##
//** `<input>` background color
$form-border-color: #e9e9e9;
$form-input-font-size: 13px;
$form-padding-x: 20px;
$form-padding-y: 20px;
$form-radius: $border-radius-large;

$form-input-size: 38px;
$input-border-color: #e5e5e5;
$input-border: 1px solid $input-border-color;
$input-border-radius: $border-radius-small;
$input-height: 38px;
$input-focus-outline: $brand-intense-info;

//----popup------
$z-index-popup: 50;
//----------  btn  ----------------
$base-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
//----panel------

$panel-box-bg: #fff;
$panel-box-border-color: $border-color;
$panel-box-border: 1px solid $panel-box-border-color;

//----btn------
$btn-font-size: $font-size-small;
$btn-height: 31px;

//------------------------link-------------------------------
$link-color: $brand-success;
$link-hover-color: $gray-base;
