$faq-bg:$brand-info;

.faq-list-edit-Editable{
  margin: 5px;
 
  border-radius: $border-radius-base;
  color:getColorlightness($faq-bg,30%);

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background:rgba($faq-bg,0.1);
    .order{
      background:rgba($faq-bg,0.2);
      padding:$padding-small ;
    }
    .question{
      padding:$padding-small ;
     flex-grow: 2;
      //color:#fff;
    }
    button{
      &:hover{background: rgba(0,0,0,0.05)}
    }
  }
 
  .ansewr{
    padding:$padding-small  $padding-default ;
  }
  .edit-box{
    background:rgba($faq-bg,0.2);
    padding:$padding-small  $padding-default ;
    .action{
      display: flex;
      flex-direction: row;
      justify-content: space-around ;
    }
  }
}

.faq-container{
  @include panel-box();
  padding: $padding-default * 2;
  background:getColorlightness($faq-bg,98%) ;
  border: 1px solid getColorlightness($faq-bg,95%);
  color:getColorlightness($faq-bg,30%);
  list-style: decimal inside;
  .question{
    display: inline-block;
  }
  .answer{
    padding:  $padding-default;
    margin-bottom:$margin-small ;
  }
}