.city-list-container {
  .boarder-list-container {
    position: absolute;
    z-index: 1;
    inset: 5px;
    padding: $padding-default;
    z-index: 1;
    background-color: #fff;

    &.city-list {
      &.hide {
        display: none;
      }
      &.show {
        display: block;
        @include animate(fadeInRight, 1s);
      }
      &.InTransition {
        //background-color: blueviolet;
        @include animate(fadeInLeft, 1s);
        @include animate(fadeOut, 1s);
        z-index: 0;
      }
//---------------------------
&.search-result{
  z-index: 2;

  .result-number{
    $search-color:$brand-info;
    color:$search-color;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .titel{
      font-size: 90%;
    }
    .dashed{
      flex-grow: 2;
      height: 0;
      border-bottom: 1px solid $search-color;
      margin:0 5px;
    }
  }
}
//---------------------------
    }
    &.state-list {
      &.hide {
        display: none;
      }
      &.show {
        display: block;
        @include animate(fadeInLeft, 1s);
      }
      &.InTransition {
        // background-color: aqua;
        @include animate(fadeInRight, 1s);
        @include animate(fadeOut, 1s);
        z-index: 0;
      }
    }
    .boarder-list {
    }
  }
}

.city-Search-container {
  $search-color:$brand-info;
  position: relative;
  * {
    @include transition(all 0.5s ease-out);
  }
  .input-search {
    padding: 0 ($input-height + 5);
  }
  %p {
    position: absolute;
    z-index: 2;
    width: $input-height;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgba($search-color, 0);
    color:rgba($search-color,0.6);
  }
  &:hover,&:focus            {
    %p {
      background-color: rgba($search-color, 0.1);
      color:rgba($search-color,1);
    }
  }
  .left {
    @extend %p;
    inset: 0 auto 0 0;
  }
  .right {
    @extend %p;
    inset: 0 0 0 auto;
  }
}
