$overview-card-height: 150px;
$overview-card-img-height: 200px;
$overview-card-small-size: $container-sm;

.not-Visible {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.is-Pending {
  .img-wrapper-text {
    background: rgba(0, 0, 0, 0.5) !important;
  }
}
.is-Declined {
  //filter: grayscale(0.4);
  .img-wrapper-text {
    right: 0 !important;
    background-color: rgba(#700000, 0.7) !important;

    @include media-max($overview-card-small-size) {
      bottom: 0 !important;
    }
  }
}
@mixin visibility-status {
  & {
    position: relative;

    &.not-Visible {
      .img-wrapper-text {
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 2px;
      }
    }

    &.is-Visible {
      .img-wrapper-text {
        background: rgba(15, 72, 17, 0.5);
      }
    }

    .img-wrapper-text {
      position: absolute;
      color: #fff;
      font-size: $font-size-h4;
      text-align: center;
      text-shadow: 0px 2px 3px black;

      @include position(0, 50%, 0, 0);
      padding: 20% 5px 5px !important;

      @include media-max($overview-card-small-size) {
        @include position(0, 0, auto, 0);
        padding: 15px 5px !important;
        &.is-Visible {
          .img-wrapper-text {
            padding: 20% 2px 0;
          }
        }
      }
      .text {
        @include animate(fadeIn, 0.5s);

        small {
          margin-top: $margin-small;
          display: block;
          font-size: $font-size-small;
        }
      }
    }
  }
}

.overview-card-list {
  .card-item {
    .card {
      @include panel-box();

      .container-item {
        @include media-max($overview-card-small-size) {
          // mohsen
          //@extend %flex-row-space-around-wrap-stretch;
        }

        .item-picture {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;

          @include media-min($overview-card-small-size) {
            width: 100%;
            border-bottom: 1px solid $card-border-color;
            height: $overview-card-img-height;
            margin-top: -$panel-box-padding;
          }
          @include media-max($overview-card-small-size) {
            width: 40%;
            border-left: 1px solid $card-border-color;
            margin-top: -$panel-box-padding;
            margin-bottom: -$panel-box-padding;
          }

          &.no-img {
            // background: url('../../../../images/no-pictures.svg') no-repeat center center !important;
            background-size: 80% 80% !important;
          }

          @include visibility-status;
        }

        .item-info {
          color: $gray-text;
          padding: 0 $panel-box-padding;
          @include media-max($overview-card-small-size) {
            width: 60%;
          }

          .title-card {
            padding: $padding-small 0;
            font-size: 110%;
            color: #000;
          }

          .item-info-row {
            margin-bottom: $margin-small;

            &.action-row {
              text-align: center;
              margin-top: 15px;
            }

            .btn-link {
              margin-bottom: 5px;
              width: 45%;
              min-width: 110px;
              &:hover {
                border: 1px solid $gray-base;
                background-color: $gray-base;
                color: #fff;
              }
              &::before {
                font-size: 17px;
              }
              &:not(:hover),
              &[disabled]:hover {
                border: 1px solid #838383;
                color: #838383;
                text-decoration:none;

                &::before {
                  color: #838383;
                }
              }
              small {
                font-size: 90%;
                display: inline-block;
              }
            }

            .price {
              float: left;
              margin-bottom: -$panel-box-padding;
              &.none-info {
                font-family: $font-family-bold-iran-sans;
                color: $attention;
              }
            }
          }
        }
      }
    }
  }
}

.status {
  &.active {
    color: darken($brand-success, 5%);
  }

  &.pending {
    color: darken($brand-warning, 5%);
  }

  &.unknown {
    color: darken($brand-error, 5%);
  }
}
