.providerWebsite {
  $small-size: $container-large-tablet;
  margin: $padding-default 0;
  padding: $padding-default;
  background: #fff;
 //border: 2px dashed $brand-success;
  border-radius: $border-radius-base;
  box-shadow: $shadow-light;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include media-max($small-size) {
    flex-direction: column;
  }

  .action {
  }

  .not-bold {
    margin: 0 10px;
    @include media-max($small-size) {
      margin: 10px;
    }
  }
  .icon-gift,.icon-check-circle{
    color: #486449 !important;
    text-shadow: $textshadow-light;
  }
 img{width: 100%}
  .info-container{
    display: flex;
    @include media-min($small-size) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    @include media-max($small-size) {
      flex-direction: column-reverse;
      align-items: center;
      
    }
  }
}

.purchase-domain-wrapper {

  flex-direction: row;
  padding: 0;

  .img-box {
    padding: 15px;
    //background: url("#{$img-url}user/webdesign.svg") no-repeat center center;

  }
  .form-part{
    padding: 10px;
    line-height: 300%;
    .title{
      margin: 20px 10px;
    }
  }
  
  
  .validate{
    line-height: 20px;
    margin: 3px 0 10px;
    font-size: 90%;
    opacity: 0.5;
    &.inValid{
      color:$brand-error;
      opacity: 0.9;
    }
  }
}