.user-list {
  .card-col {
    margin-bottom: 15px;
  }

  .card-list-item {
    height: 100%;

    .card-content {
      height: 100%;
    }
  }

  .add-user-card {
    z-index: calc(#{$z-index-base} + 1);

    .form-row {
      .form-caption {
        width: 70px;
      }

      .form-content {
        flex-direction: column;
      }
      .field-error {
        $height: 15px;
        margin-top: 0;
        font-size: $font-size-x-small;
        height: $height;
        display: block;

        span {
          display: inline-block;
          line-height: $height;
          @include animate(fadeIn, 0.5s);
        }
      }
    }
  }

  .cover {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(63, 63, 63, 0.3);
    z-index: $z-index-base;
  }
}

.small-list-container {
  text-align: center;

  .small-list {
    max-width: 500px;
    margin: 0 auto;

    .row-list {
      align-items: center;
      justify-content: space-between;
      padding: $padding-default * 2 $padding-default;
      border-radius: $border-radius-base;
      box-shadow: $panel-box-shadow;
      border: 1px solid #fefefe;
      background-color: $light-base;
      color: $gray-text;
      margin-bottom: 5px;
      &.admin {
        
      }
      &.renoved{
        @include animate(fadeOutLeft,1s);
      }
    }
  }
}
